// variables
@import 'variables';

// import either semantic.gs or frameless
@import 'semanticgrid';

// consistency & resets
@import 'resets';

/*****************************************************************************/
/*
  Base
*/

body {
  font-size: ($font-size) / $em;
  background-color: #FFF;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }

p { 
  margin: 1em 0; 
  &.lead {
    font-size: ($font-size + 4) / $em;
    margin: 0 0 1em;
  }
}

a, 
a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*****************************************************************************/
/*
  Common
*/

h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {
  font-size: ($font-size + 52) / $em;
  margin: 30px 0px;
  line-height: 1.2em;
}

h2 {
  font-size: ($font-size + 14) / $em;
  margin: 30px 0px 20px;
}

h3 {
  font-size: ($font-size + 6) / $em;
  font-weight: 400;
  margin: 30px 0px;
  span {
    white-space: nowrap;
  }
}

h4 {
  font-size: ($font-size + 6) / $em;
  margin: 20px 0px 5px;
}

ol, ul {
    list-style: none outside none;
}

.container {
  @include column(12);
  .vcard {
    @include row(12);
    #contact-info,
    #handsome,
    #elsewhere {
      @include column(4,12);
    }
  }
  section {
    max-width: 1200px;
    margin: 0 auto;
  }
  #civic,
  #history {
    @include column(12);
  }
}

.img-circle {
    border-radius: 500px 500px 500px 500px;
    box-shadow: 0 0 0 8px #e0e0e0;
    max-width: 260px;
    min-width: 230px;
    margin-top: 46px;
}

#elsewhere ul {
    margin: 0 auto;
    width: 138px;
}

#elsewhere ul li {
  background: url("/img/elsewhere_icons.png") no-repeat scroll left top transparent;
  float: left;
  margin: 4px;
  padding: 0;
  height: 38px;
  width: 38px;
  &.crunchbase {
    background-position: -156px -105px ;
  }
  &.dribbble {
    background-position: -106px -105px ;
  }
  &.facebook {
    background-position: -56px -106px ;
  }
  &.foursquare {
    background-position: -6px -105px ;
  }
  &.github {
    background-position: -156px -55px ;
  }
  &.googleplus {
    background-position: -106px -55px ;
  }
  &.instagram {
    background-position: -56px -55px ;
  }
  &.lastfm {
    background-position: -6px -55px ;
  }
  &.linkedin {
    background-position: -156px -5px ;
  }
  &.pinboard {
    background-position: -106px -5px ;
  }
  &.twitter {
    background-position: -56px -5px ;
  }
  &.youtube {
    background-position: -6px -5px ;
  }
  a {
    display: block;
    height: 38px;
    width: 38px;
    span {
      display: inline-table;
      text-indent: -9999px;
    }
  }
  &:hover {
    opacity: 0.75;
  }
}

#civic {
  ul {
    padding: 20px 0;
    li {
      padding: 4px 0;
    }
  }
  h4 {
    @include column(8);
    @include pull(2);
    @include push(2);
    padding: 10px 0 40px;
  }
}
#history ul {
  padding-top: 10px;
  li {
    padding: 4px 0;
    em {
      color: #777;
      padding-left: 6px;
    }
  }
}

.extra {
    display: none;
}

.images img {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 4px;
}


@keyframes cf4FadeInOut {
0% {
    opacity: 1;
}
17% {
    opacity: 1;
}
25% {
    opacity: 0;
}
92% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes cf4FadeInOut {
0% {
    opacity: 1;
}
17% {
    opacity: 1;
}
25% {
    opacity: 0;
}
92% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
#cf4a {
    height: 190px;
    margin: 0 auto;
    position: relative;
    width: 215px;
}
#cf4a img {
    left: 0;
    position: absolute;
}
#cf4a img {
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
}
#cf4a img:nth-of-type(1) {
    animation-delay: 12s;
}
#cf4a img:nth-of-type(2) {
    animation-delay: 8s;
}
#cf4a img:nth-of-type(3) {
    animation-delay: 4s;
}
#cf4a img:nth-of-type(4) {
}

/*****************************************************************************/
/*
  Footer
*/

footer {
  clear: both;
  padding: 40px 0px 20px;
}

.copyright {
  font-size: ($font-size - 2) / $em;
  clear: both;
  color: #777;
  @include column(12);
}

/*****************************************************************************/
/*
  Responsive beyond fluid
*/

@media screen and (max-width: 660px) {
  .container .vcard {
    #contact-info,
    #handsome,
    #elsewhere,
    #civic,
    .vcard,
    #history,
    h3,
    h4 {
      @include column(12);
    }
  }
}

/*****************************************************************************/
/*
  Text Zoom
    An easy way to zoom your entire layout in or out (as long as it's set in ems).
    Assuming your base font-size is 16:
    - the first one zooms in by a factor of (16+2)/16 = 1.125
    - the second one zooms out by a factor of (16-2)/16 = 0.875
*/

@media screen and (min-width: 1200px) {
  body {
    font-size: ($font-size + 2) / $em;
  }
  .container .vcard {
    #elsewhere {
      @include column(3);
      @include pull(1);
    }
    #contact-info {
      @include column(3);
      @include push(1);
    }
  }
  h3 {
    @include column(10);
    @include push(1);
    margin-bottom: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: ($font-size - 1) / $em;
  }
}