$blue:      #268bd2;
$darkblue:  #0a5061;
$green:     #2a9c79;
$orange:    #d35b41;
$dark-gray: #333;
$med-gray:  #666;
$off-white: #f7f9fb;

$link-color: $orange;
$text-color: $dark-gray;


$font-size: 20px;     // Your base font-size in pixels
$em: $font-size / 1em;  // Shorthand for outputting ems
