---
layout: default
title: Aaron U Salmon - Jovial lad and professional fellow.
tags: site
---
<!--
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->
<p class="lead">Art Director &amp; User Experience engineer</p>
<h3>
"Professionalism begets colleaguery, that spirit of mutual support and collective identity that contributes so potently to creative exchange and the sense of progress. It's my responsibility to engender this spirit by setting an amiable, stimulating, creative and professional example." <span>- Yuri Rasovsky</span>
</h3>

<div class="vcard " id="hcard-Aaron-U-Salmon" profile="http://www.w3.org/2006/03/hcard" >		

	{% include contactinfo.html %}

<div class="col col4">
  {% if site.owner.avatar %}
    <img width="190" height="190" class="img-circle span3" alt="Aaron Salmon" src="img/{{ site.owner.avatar }}">
  {% endif %}
</div>

<div id="elsewhere" class="col col4">
	{% include elsewhere.html %}
</div>
</div>

<!-- People will talk...
<ul class="quote">
						<li>
							"[Aaron's] work is creative, original and his ability to work within a tight deadline is incredible."
							<span>- Rick H.</span>
						</li>
						<li>
							"Aaron is one of the best, if not the best, creative person I've ever worked with. He has an eye for style and flare, and the design skills to incorporate those into his graphic design projects. He also has a great understanding of the technical requirements of a project which he incorporates into his interface designs. Aaron always has a positive attitude and all clients and co-workers of Aaron's enjoy working with him immensely."
							<span>- Derrick P.</span>
						</li>
						<li>
							"[Aaron] was efficient, detail-oriented, responsive to our needs, and easy to work with."
							<span>- Alan S.</span>
						</li>
						<li>
							"Aaron is an outstanding designer and a fantastic person to work with. His passion for design and motivation for creating excellent work inspires and energizes his colleagues to do the same. His design-sophistication and thorough work ethic make him an invaluable asset to any design team. Undoubtedly, my skills have benefited greatly from working along side Aaron."
							<span>- Matt L.</span>
						</li>
						<li>
							"I had the chance to work with Aaron on a project that had an extremely tall order. Aaron quickly picked up on what we needed to do, and with very direction, finished everything above par. He helped us out tremendously, and without his quick coding skills, we wouldn't have finished in time. The project was a success, and the client was very pleased."
							<span>- Derek E.</span>
						</li>
						<li>
							"Aaron produces quality work and is a pleasure to work with." 
							<span>- Tim S.</span>
						</li>
						<li>
							"Aaron is a great designer, and a committed employee. He is always willing to go the extra mile and cares deeply about the quality of his work. Aside from all this he is a very enjoyable person to be around, making for an extremely valuable asset to any team."
							<span>- Justin M.</span>
						</li>
						<li>
							"Aaron is successful in anything he sets his mind to. His true entrepreneurial spirit and strong desire for social responsibility motivates those he comes into contact with. He has an expert grasp of what makes a successful website from UI to back end programming as he is equally comfortable in all environments. Aaron constantly demonstrates a thorough knowledge of design, from typography to images to layout. His honest and friendly approach to management earns him the respect of those who work with him as well as those he works for."
							<span>- Scott S.</span>
						</li>
						<li>
							"Aaron is a great friend and makes the internet pretty."
							<span>- Dylan R.</span>
						</li>
						<li>
							"Best. Logo. Ever."
							<span>- TJ.</span>
						</li>
						<li>
						  Aaron, really f%*king great job. In a time of great need you performed awesomely. Thanks so much... all looks great and (the client) is happy.
						  <span>- Seb.</span>
						</li>
						<li>
						  It was like watching a magician at work with the tickets flowing in last night! You are awesome.
						  <span>- Marc.</span>
              </li>
                <li>
  							"...it seems like every time I see a nice web design come out of Chicago your name is on it."
  							<span>- Josh.</span>
  						</li>
              <li>
							"Aaron is a jerk."
							<span>- A google search that showed up on my analytics.</span>
						</li>
					</ul>


					<div id="center">
				<div id="colRight">
					
					<h4>What I do. (What I love.)</h4>
					<p>I love the internets and I'm always on the lookout for interesting projects with fun people. My personal directive is to use my experience applying creativity, design principles, aesthetics and development skills towards the creation of professional, innovative products.</p>
					<ul>
						<li class="head">Skills <span class="amp">&amp;</span> Experience</li>
						<li class="desc">Every day I work with individuals, teams and businesses on a variety of internet projects.</li>
						<li>Website Design / Redesign</li>
						<li>Web Application Interface <span class="amp">&amp;</span> Template Design</li>
						<li><abbr title="Cascading Style Sheets">CSS</abbr> <span class="amp">&amp;</span> XHTML / Front-End Development, Usability, <abbr title="Information Architecture">IA</abbr> <span class="amp">&amp;</span> User Experience</li>
						<li>Logo Development, Branding <span class="amp">&amp;</span> Identity</li>
						<li>Creative Direction <span class="amp">&amp;</span> Art Direction</li>
						<li>Blog, <abbr title="Content Management System (ex: Expression Engine, Drupal, Wordpress)">CMS</abbr>, eCommerce Setup <span class="amp">&amp;</span> Styling</li>
						<li>Social Marketing / Community <span class="amp">&amp;</span> Product Building</li>
						<li>Project Management <span class="amp">&amp;</span> Client Communication</li>
						<li>Search Engine Optimization <span class="amp">&amp;</span> Analytics</li>
						
						<li>Comfortable in Agile environments -w Django, Rails, Python, PHP, jQuery; also erb/haml/scss, Rspec <span class="amp">&amp;</span> Cucumber frameworks</li>
					</ul>
					
					
					<h4 class="contact">Contact Me</h4>
					<p class="top">Learn more about <a title="Projects &amp; Colleaguery" href="/colleaguery">my work</a>, or get in touch to discuss working together or just to chat!</p>

					<div id="elsewhere">
						<ul>
							<li class="head">Elsewhere</li>
							<li class="linkedin"><a href="http://www.linkedin.com/in/aaronsalmon" title="linkedin" rel="me"><span>linkedin</span></a></li>
							<li class="twitter"><a href="http://www.twitter.com/aaronsalmon" title="twitter" rel="me"><span>twitter</span></a></li>
							<li class="facebook"><a href="http://www.facebook.com/aaronsalmon" title="facebook" rel="me"><span>facebook</span></a></li>
							<li class="dribbble"><a href="http://dribbble.com/aaronsalmon" title="dribbble" rel="me"><span>dribbble</span></a></li>
							<li class="github"><a href="https://github.com/aaronsalmon" title="github" rel="me"><span>github</span></a></li>
							<li class="crunchbase"><a href="http://www.crunchbase.com/person/aaron-salmon" title="crunchbase" rel="me"><span>crunchbase</span></a></li>
							<li class="delicious"><a href="http://www.delicious.com/auraworks" title="delicious" rel="me"><span>delicious</span></a></li>
							<li class="flickr"><a href="http://www.flickr.com/photos/auraworks/" title="flickr" rel="me"><span>flickr</span></a></li>
							<li class="foursquare"><a href="https://foursquare.com/aaronsalmon" title="foursquare" rel="me"><span>foursquare</span></a></li>
							<li class="google"><a href="https://profiles.google.com/aaronusalmon" title="google" rel="me"><span>google</span></a></li>
							<li class="lastfm"><a href="http://www.last.fm/user/AcidArgyle" title="lastfm" rel="me"><span>lastfm</span></a></li>
							<li class="youtube"><a href="http://www.youtube.com/user/aaronusalmon" title="youtube" rel="me"><span>youtube</span></a></li>
							<li class="aaronsalmon"><a href="http://www.aaronsalmon.com" title="aaronsalmon.com" rel="me"><span>aaronsalmon.com</span></a></li>
						 </ul>
					</div>
					<div class="vcard" id="hcard-Aaron-U-Salmon" profile="http://www.w3.org/2006/03/hcard">						
						<abbr title="2011-04-20" class="rev extra">April 20th, 2011</abbr>
	 					<ul>
	 						<li class="head">Info <em>(get <a title="My vCard" href="/Aaron%20Salmon.vcf">vCard</a> or <a title="My Resume" href="/aaronSalmonResume2010x.pdf">Resume</a>)</em></li> 
	 						<li>
	 							<span class="fn n">
	 				    			<span class="given-name">Aaron</span>
	 				  				<span class="additional-name">U.</span>
	 				  				<span class="family-name">Salmon</span>
	 							</span>
	 						</li>
							<li class="org">
								<span class="organization-name">Auraworks, Ltd.</span>
							</li>	
							<li class="role extra">Web Art Director / Independent Contractor</li>	
	 				 		<li class="adr">
	 				  			<a title="Google Map for ZipCode 60618" href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=Damen+%26+Clybourn%2FDiversey,+United+States&amp;sll=41.9284,-87.658882&amp;sspn=0.049808,0.081282&amp;ie=UTF8&amp;cd=2&amp;geocode=0,41.931846,-87.677971&amp;ll=41.931912,-87.678108&amp;spn=0.199221,0.325127&amp;z=12&amp;iwloc=addr"><span class="locality">Chicago</span>
	 				  				<span class="region">IL</span>
	 				  				<span class="postal-code">60618</span>
	 				  				<span class="country-name">USA</span></a>
									<abbr title="-06:00; CST; Chicago/North America;" class="tz extra"></abbr>
	 						</li>
							<li class="geo extra">
							    <abbr title="41.932278" class="latitude">N 41° 41.932278</abbr>
							    <abbr title="-87.678105" class="longitude">W 87° -87.678105</abbr>
							</li>
							<li class="extra">
								<abbr title="1975-07-20" class="bday">July 20, 1975</abbr>
							</li>
	 						<li class="tel">
								<abbr class="type" title="work"></abbr>
								<span id="tel">773.336.2872</span>
							</li>	
							<li class="extra"><img alt="It's a pic of me." class="photo" src="http://www.auraworks.com/assets/images/me.jpg"></li>
	 						<li><a title="email me" href="mailto:aaronusalmon@gmail.com" class="email">aaronusalmon@gmail.com<script type="text/javascript">
/* &lt;![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]&gt; */
</script></a></li>					
	 				 		<li class="head">IM &amp; Communication</li>
	 				 		<li><a title="gTalk" href="gtalk:chat?jid=aaronusalmon@gmail.com" class="url">gTalk: aaronusalmon@gmail.com<script type="text/javascript">
/* &lt;![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]&gt; */
</script></a><strong>gTalk:</strong> <a title="Jabber" href="gtalk:chat?jid=aaronusalmon@gmail.com">aaronusalmon@gmail.com<script type="text/javascript">
/* &lt;![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]&gt; */
</script></a></li>
	 				 		<li><a title="AIM" href="aim:goim?screenname=acidargyle" class="url">AIM: acidargyle</a><strong>AIM:</strong> <a title="AIM" href="aim:goim?screenname=acidargyle">acidargyle</a></li>
	 				 		<li><a title="Skype" href="skype:acidargyle?call" class="url">Skype: acidargyle</a><strong>Skype:</strong> <a title="Skype" href="skype:acidargyle?call">acidargyle</a></li>
	 				 		<li><a title="ICQ" href="http://www.icq.com/people/cmd.php?uin=8537803&amp;action=message" class="url">ICQ: 8537803</a><strong>ICQ:</strong> 8537803</li>
	 				 		<li><a title="auraworks.com" href="http://www.auraworks.com" class="url">www.auraworks.com</a></li>
	 				 		<li><a title="aaronsalmon.com" href="http://www.aaronsalmon.com" class="url">www.aaronsalmon.com</a></li>
	 					</ul>



					</div>
				</div>
				<div id="colLeft">
					
					<h4>About Me</h4>
					<p><img alt="It's a pic of me." class="me" src="/assets/images/me.jpg">I've been making the Internet better since 1998 and have passion for both technical growth and creative expression. My personal life in Chicago is an abundance of loved ones, culture, hilariousness <span class="amp">&amp;</span> inspiration.  </p>
					<ul class="facts">
						<li>I’m 37 years old.</li>
						<li>I grew up in the Wisconsin countryside.</li>
						<li>I’m left handed.</li>
						<li>I’m <abbr title="06/20/09">married</abbr> to a <a title="Laura Lash" href="http://www.lauralash.com"> fantastic girl</a>.</li>
						<li>I <a title="chicagos-most-coveted-talent-obamas-techies" href="http://www.chicagobusiness.com/article/20121130/NEWS08/121129774/chicagos-most-coveted-talent-obamas-techies">helped</a> <a href="http://www.theatlantic.com/technology/archive/2012/11/when-the-nerds-go-marching-in/265325/">re-elect</a> the President.</li>
						<li>I’m captain of <a title="Gold Star Bar - Chicago" href="http://www.yelp.com/biz/gold-star-bar-chicago">Gold Star Bar's</a> pool team.</li>
						<li>I used to be a wedding DJ.</li>
						<li>I have a hella green thumb and founded a <a href="http://www.georgeseeleygarden.org/">local community garden</a>.</li>
						<li>I’m superstitious about two things.</li>
						<li>I love my bike - and enjoy <a title="bikes bikes bikes" href="http://www.flickr.com/photos/auraworks/sets/72157622016827487/">building</a> new ones.</li>
						<li>I also dig music, screenprinting, frisbee, cooking and coffee.</li>
						<li>I <a title="Dean Kamen's First Robotics" href="http://www.usfirst.org/">love</a> <a title="Habitat For Humanity" href="http://www.habitat.org">to</a> <a title="Chicago Tinkering School" href="http://chicago.tinkeringschool.com/">volunteer</a></li>
						<li class="more">
							<a title="Projects &amp; Colleaguery" href="/colleaguery">View some of my recent work.</a>
						</li>
					</ul>


					<h4>Ideas, Ideals <span class="amp">&amp;</span> Outlooks</h4>
					<ul class="quote">
						
						<li class="desc">Citizenship &ndash; a word at the very heart of our founding, at the very essence of our democracy; the idea that this country only works when we accept certain obligations to one another, and to future generations. <span>- Barack Obama</span></li>
						
						
						<li class="desc">Allow events to change you. - You have to be willing to grow. Growth is different from something that happens to you. You produce it. You live it. The prerequisites for growth: the openness to experience events and the willingness to be changed by them. <span>- From Bruce Mau's <a href="http://www.brucemaudesign.com/#112942" onclick="this.target='_blank';" title="Bruce Mau's Incomplete Manifesto">"Incomplete Manifesto"</a></span></li>
						
						<li class="desc">"That's the disease you have to fight in any creative field... ease of use"<span> - Jack White</span></li>
						
						<li class="desc">"To clarify add detail. Clutter and overload are not an attribute of information. They are failures of design..."<span> - Edward Tufte</span></li>
						
						<li class="desc">"The nation behaves well if it treats the natural resources as assets which it must turn over to the next generation increased, and not impaired, in value."&nbsp; &nbsp; &nbsp;   <span> - Theodore Roosevelt</span></li>

						<li class="desc">"Censorship is telling a man he can’t have a steak just because a baby can’t chew it."<span> - Mark Twain</span></li>
						
						<li class="desc">"Go forth under the open sky, and list to nature's teachings." <span>- William Cullen Bryant</span></li>

						<li class="desc">"In such hard times I heard the gentle but strong whisper of the Sequoia gigantea: "Hear me, you poor man. I've stood here more than three thousand years in rain, snow, storm, and even mountain fire still keeping my thankful attitude strongly with nature-do not cry, do not spend your time and energy worrying. You have children following. Keep up your unity; come with me." <span>- Chiura Obata</span></li> 

						<li class="desc">"Get to the Chopper" <span>- Dutch</span></li>
												
					</ul>


				</div>
			</div>




			<dl class="images">
						<dt class=""><em>expand / collapse</em><span>One Summer Chicago</span></dt>
						<dd>
							<img width="680" height="456" alt="One Summer Chicago 01" src="/assets/images/projects/onesummer_01.jpg">
							<img width="335" height="335" alt="One Summer Chicago 02" src="/assets/images/projects/onesummer_02.jpg">
							<img width="335" height="335" alt="One Summer Chicago 03" src="/assets/images/projects/onesummer_03.jpg">
						</dd>
						<dt class=""><em>expand / collapse</em><span>Chicago2011.org - Rahm Emanuel Transition Team</span></dt>
						<dd>
							<img width="450" height="598" alt="Chicago2011.org 01" src="/assets/images/projects/chicago2011_01.jpg">
							<img width="220" height="193" alt="Chicago2011.org 02" src="/assets/images/projects/chicago2011_02.jpg">
							<img width="220" height="192" alt="Chicago2011.org 03" src="/assets/images/projects/chicago2011_03.gif">
							<img width="220" height="195" alt="Chicago2011.org 04" src="/assets/images/projects/chicago2011_04.gif">
						</dd>
						<dt class=""><em>expand / collapse</em><span>Excelerate Labs</span></dt>
						<dd>
							<img width="450" height="297" alt="Excelerate Labs 01" src="/assets/images/projects/excelerate_01.gif">
							<img width="220" height="297" alt="Excelerate Labs 02" src="/assets/images/projects/excelerate_02.gif">
						</dd>
						<dt class=""><em>expand / collapse</em><span>Busy Beaver Button Co.</span></dt>
						<dd>
							<img width="680" height="289" alt="Busybeaver 02" src="/assets/images/projects/busybeaver_02.gif">
							<img width="680" height="808" alt="Busybeaver 01" src="/assets/images/projects/busybeaver_01.gif">
						</dd>	
						<dt class=""><em>expand / collapse</em><span>GoGirlzzz</span></dt>
						<dd>
							<img width="680" height="328" alt="Gogirlzzz 03" src="/assets/images/projects/gogirlzzz_03.jpg">
							<img width="335" height="521" alt="Gogirlzzz 01" src="/assets/images/projects/gogirlzzz_01.jpg">
							<img width="335" height="521" alt="Gogirlzzz 02" src="/assets/images/projects/gogirlzzz_02.jpg">
						</dd>	
						<dt class=""><em>expand / collapse</em><span>The 95th - Iron Men of Metz</span></dt>
						<dd>
							<img width="680" height="881" alt="95th 01" src="/assets/images/projects/95th_01.jpg">
						</dd>
						<dt><em>expand / collapse</em><span>ORDcamp, ORDsessions, ORDcompanies</span></dt>
						<dd>
							<img width="450" height="269" alt="Ordcamp 01" src="/assets/images/projects/ordcamp_01.gif">
							<img width="220" height="269" alt="Ordcamp 02" src="/assets/images/projects/ordcamp_02.jpg">
						</dd>
						<dt><em>expand / collapse</em><span>OverEasy Cafe Chicago</span></dt>
						<dd>
							<img width="680" height="503" alt="Overeasycafe 01" src="/assets/images/projects/overeasycafe_01.jpg">
						</dd>
						<dt><em>expand / collapse</em><span>Awesome Updater</span></dt>
						<dd>
							<img width="335" height="426" alt="Awesome Updater 01" src="/assets/images/projects/awesome_updater_01.gif">
							<img width="335" height="208" alt="Awesome Updater 02" src="/assets/images/projects/awesome_updater_02.gif">
							<img width="335" height="208" alt="Awesome Updater 03" src="/assets/images/projects/awesome_updater_03.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>BabyCow Clothing</span></dt>
						<dd>
							<img width="450" height="411" alt="Babycow Clothing 01" src="/assets/images/projects/babycow_clothing_01.gif">
							<img width="220" height="201" alt="Babycow Clothing 02" src="/assets/images/projects/babycow_clothing_02.jpg">
							<img width="220" height="200" alt="Babycow Clothing 03" src="/assets/images/projects/babycow_clothing_03.jpg">
						</dd>
						<dt><em>expand / collapse</em><span>Life in Perpetual Beta</span></dt>
						<dd>
							<img width="335" height="439" alt="lifeinperpetualbeta 01" src="/assets/images/projects/lifeinperpetualbeta_01.gif">
							<img width="335" height="439" alt="lifeinperpetualbeta 02" src="/assets/images/projects/lifeinperpetualbeta_02.gif">
						</dd>
						<dt><em>expand / collapse</em><span>I3PI</span></dt>
						<dd>
							<img width="450" height="426" alt="I3pi 01" src="/assets/images/projects/i3pi_01.gif">
							<img width="220" height="208" alt="I3pi 02" src="/assets/images/projects/i3pi_02.gif">
							<img width="220" height="208" alt="I3pi 03" src="/assets/images/projects/i3pi_03.gif">
						</dd>
						<dt><em>expand / collapse</em><span>Commuting.in</span></dt>
						<dd>
							<img width="335" height="388" alt="Commuting In 01" src="/assets/images/projects/commuting_in_01.gif">
							<img width="335" height="388" alt="Commuting In 02" src="/assets/images/projects/commuting_in_02.gif">
						</dd>
						<dt><em>expand / collapse</em><span>Hejfina</span></dt>
						<dd>
							<img width="680" height="578" alt="Hejfina 01" src="/assets/images/projects/hejfina_01.gif">
							<img width="680" height="519" alt="Hejfina 02" src="/assets/images/projects/hejfina_02.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>Excla.im</span></dt>
						<dd>
							<img width="450" height="544" alt="Exclaim 01" src="/assets/images/projects/exclaim_01.gif">
							<img width="220" height="175" alt="Exclaim 02" src="/assets/images/projects/exclaim_02.gif">
							<img width="220" height="174" alt="Exclaim 04" src="/assets/images/projects/exclaim_04.gif">
							<img width="220" height="175" alt="Exclaim 03" src="/assets/images/projects/exclaim_03.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>Kim Ficaro</span></dt>
						<dd>
							<img width="680" height="499" alt="Kimficaro 01" src="/assets/images/projects/kimficaro_01.jpg">
						</dd>	
						<dt><em>expand / collapse</em><span>Lissa on Maxwell</span></dt>
						<dd>
							<img width="680" height="357" alt="Lissa 01" src="/assets/images/projects/lissa_01.gif">
							<img width="680" height="357" alt="Lissa 02" src="/assets/images/projects/lissa_02.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>Lyon Lifestyle</span></dt>
						<dd>
							<img width="680" height="439" alt="Lyon Lifestyle 01" src="/assets/images/projects/lyon_lifestyle_01.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>mk2 development</span></dt>
						<dd>
							<img width="450" height="680" alt="Mk2 Develepment 01" src="/assets/images/projects/mk2_develepment_01.jpg">
							<img width="220" height="220" alt="Mk2 Develepment 02" src="/assets/images/projects/mk2_develepment_02.gif">
							<img width="220" height="220" alt="Mk2 Develepment 04" src="/assets/images/projects/mk2_develepment_04.gif">
							<img width="220" height="220" alt="Mk2 Develepment 03" src="/assets/images/projects/mk2_develepment_03.gif">
						</dd>	
						<dt><em>expand / collapse</em><span>Aaron Goldstein Attorney at Law</span></dt>
						<dd>
							<img width="335" height="439" alt="Not Guilty In Chicago 01" src="/assets/images/projects/not_guilty_in_chicago_01.jpg">
							<img width="335" height="439" alt="Not Guilty In Chicago 02" src="/assets/images/projects/not_guilty_in_chicago_02.jpg">
						</dd>		
						<dt><em>expand / collapse</em><span>White-Starr</span></dt>
						<dd>
							<img width="335" height="439" alt="White Starr 01" src="/assets/images/projects/white_starr_01.gif">
							<img width="335" height="439" alt="White Starr 02" src="/assets/images/projects/white_starr_02.gif">
						</dd>
					</dl>
-->

