<h2>Civic Life</h2>

<h4>I'm passionate about communities, open data, bike &amp; pedestrian infrastructure, placemaking and civic engagement.</h4>

<ul>
  <li>Board of Directors, <a href="http://clearvisioneauclaire.org">Clear Vision Eau Claire</a></li>
  <li>Captain of <a href="http://codeforeauclaire.org">Code for Eau Claire</a> - a Code for America Brigade</li>
  <li>Chair of the <a href="http://www.ci.eau-claire.wi.us/government/boards-commissions-committees/view-all/bicycle-pedestrian-advisory-commission">Eau Claire Bicycle/Pedestrian Advisory Commission</a></li>
  <li>Board member of the <a href="http://chippewavalleytransitalliance.com">Chippewa Valley Transit Alliance</a></li>
  <li>Steering Committee member of <a href="http://thirdward.org">Third Ward Neighborhood Association</a></li>
  <li>Organizer of the Eau Claire 'Bike Friendly Business' Peer Network</li>
  <li>Co-Coordinator of <a href="http://thirdward.org/garden">The Demmler Community Garden</a></li>
</ul>

<h2>Prior Affiliations / Accolades</h2>

<ul>
  <li>Alliance for Strong Communities, <em>Panelist</em></li>
  <li>Chippewa Valley Code Camp, <em>Speaker</em></li>
  <li>TechStars Chicago, <em>Mentor</em></li>
  <li>Columbia College, <em>Speaker</em></li>
  <li>SXSW 2014, <em>Speaker</em></li>
  <li>Mozfest 2013, <em>Speaker</em></li>
  <li>2013 Webby Awards</li>
  <li>George &amp; Seeley Community Garden, <em>Founder</em></li>
  <li>Tribeca Flashpoint College, <em>Mentor</em></li>
  <li>Illinois Institute of Art, <em>Speaker</em></li>
  <li>Chicago Habitat for Humanity, <em>Volunteer</em></li>
  <li>Chicago Tinkering School, <em>Volunteer</em></li>
  <li>FIRST Robotics, <em>Safety Judge</em></li>
  <li>Illinois Institute of Art - ARTimation Awards 2008-2010, <em>Judge</em></li>
  <li>2005 Rails Day Competition Awards</li>
  <li>CADM (Chicago Area Direct Marketing) Awards</li>
</ul>