<h2>
  Civic Life
</h2>

<h4>I'm passionate about civic technology, open data, bike &amp; pedestrian infrastructure, placemaking and civic engagement.</h4>

<ul>

  <li>Member of the City of Eau Claire's <a href="http://www.ci.eau-claire.wi.us/government/boards-commissions-committees/view-all/bicycle-pedestrian-advisory-commission" title="Eau Claire Bicycle Pedestrian Advisory Commission">Bicycle Pedestrian Advisory Commission</a></li>

  <li>Board member of the <a href="http://chippewavalleytransitalliance.com" title="Chippewa Valley Transit Alliance">Chippewa Valley Transit Alliance</a></li>

  <li>Organizer of the Eau Claire Bicycle Friendly Business Peer Network</li>

  <li>Captain of Code For Eau Claire - a Code for America Brigade</li>

  <li>Co-coordinator of <a href="http://thirdward.org/garden" title="The Demmler Community Garden">The Demmler Community Garden</a></li>

  <li>Steering committee member of the <a href="http://thirdward.org" title="Third Ward Neighborhood Association<">Third Ward Neighborhood Association</a></li>

  <li>Founder of the <a href="http://www.georgeseeleygarden.org/" title="">George &amp; Seeley Community Garden</a> in Chicago</li>

</ul>