
<ul class="col contact-info">
	<h2 class="contact">Contact Me <small><em><a title="My vCard" href="/Aaron%20Salmon.vcf">vCard</a></em></small></h2>
  <abbr title="2013-07-26" class="rev extra">July 26th, 2013</abbr>
  	<li>
  		<span class="fn n">
  			<span class="given-name">Aaron</span>
  			<span class="additional-name">U.</span>
  			<span class="family-name">Salmon</span>
  		</span>
  	</li>
  <li class="org">
  	<span class="organization-name extra">Auraworks, Ltd.</span>
  </li>	
  <li class="role extra">Art Director / UX Engineer</li>
  <li class="adr">
		<a title="Google Map for ZipCode 60618" href="http://maps.google.com/maps?f=q&amp;hl=en&amp;q=Damen+%26+Clybourn%2FDiversey,+United+States&amp;sll=41.9284,-87.658882&amp;sspn=0.049808,0.081282&amp;ie=UTF8&amp;cd=2&amp;geocode=0,41.931846,-87.677971&amp;ll=41.931912,-87.678108&amp;spn=0.199221,0.325127&amp;z=12&amp;iwloc=addr">
      <span class="locality">Chicago</span>
			<span class="region">IL</span>
			<span class="postal-code">60618</span>
			<span class="country-name">USA</span>
    </a>
		<abbr title="-06:00; CST; Chicago/North America;" class="tz extra"></abbr>
	</li>
  <li class="geo extra">
    <abbr title="41.932278" class="latitude">N 41° 41.932278</abbr>
    <abbr title="-87.678105" class="longitude">W 87° -87.678105</abbr>
  </li>
  <li class="extra">
  	<abbr title="1975-07-20" class="bday">July 20, 1975</abbr>
  </li>
  	<li class="tel">
  	<abbr class="type" title="work">Phone</abbr>
  	<span class="value">773.336.2872</span>
  </li>	
  <li class="extra">
    <img alt="A photo of Aaron Salmon" class="photo" src="http://www.auraworks.com/assets/images/me.jpg">
  </li>
	<li>
    <abbr class="type" title="home">Email:</abbr>
    <a title="email me" href="mailto:aaronusalmon@gmail.com" class="email">aaronusalmon@gmail.com
    <script type="text/javascript">
      /* &lt;![CDATA[ */
      (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
      /* ]]&gt; */
      </script>
    </a>
  </li>					
	<li>
    <abbr class="type" title="gChat">gChat:</abbr>
    <a title="Jabber" href="gtalk:chat?jid=aaronusalmon@gmail.com" class="url">aaronusalmon@gmail.com
      <script type="text/javascript">
        /* &lt;![CDATA[ */
        (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
        /* ]]&gt; */
        </script>
      </a>
  </li>
	<li>
    <abbr class="type" title="AIM">AIM:</abbr>
    <a title="AIM" href="aim:goim?screenname=acidargyle" class="url">acidargyle</a>
  </li>
	<li>
    <abbr class="type" title="Skype">Skype:</abbr>
    <a title="Skype" href="skype:acidargyle?call" class="url">acidargyle</a>
  </li>
	<li>
    <abbr class="type" title="ICQ">ICQ:</abbr>
    <a title="ICQ" href="http://www.icq.com/people/cmd.php?uin=8537803&amp;action=message" class="url">8537803</a>
  </li>
	<li>
    <a title="auraworks.com" href="http://www.auraworks.com" class="url">www.auraworks.com</a>
  </li>
	<li>
    <a title="aaronsalmon.com" href="http://www.aaronsalmon.com" class="url">www.aaronsalmon.com</a>
  </li>
</ul>