<h2 class="contact">Elsewhere</h2>
<ul>
	{% if site.owner.linkedin %}<li class="linkedin"><a href="http://www.linkedin.com/in/{{ site.owner.linkedin }}" title="linkedin" rel="me"><span>linkedin</span></a></li>{% endif %}
	{% if site.owner.mastadon %}<li class="mastadon"><a href="https://{{ site.owner.mastadon }}" title="mastadon" rel="me"><span>mastadon</span></a></li>{% endif %}
	{% if site.owner.twitter %}<li class="twitter"><a href="http://www.twitter.com/{{ site.owner.twitter }}" title="twitter" rel="me"><span>twitter</span></a></li>{% endif %}
	{% if site.owner.facebook %}<li class="facebook"><a href="http://www.facebook.com/{{ site.owner.facebook }}" title="facebook" rel="me"><span>facebook</span></a></li>{% endif %}
	{% if site.owner.dribbble %}<li class="dribbble"><a href="http://dribbble.com/{{ site.owner.dribbble }}" title="dribbble" rel="me"><span>dribbble</span></a></li>{% endif %}
	{% if site.owner.github %}<li class="github"><a href="https://github.com/{{ site.owner.github }}" title="github" rel="me"><span>github</span></a></li>{% endif %}
	{% if site.owner.crunchbase %}<li class="crunchbase"><a href="http://www.crunchbase.com/person/{{ site.owner.crunchbase }}" title="crunchbase" rel="me"><span>crunchbase</span></a></li>{% endif %}
	{% if site.owner.delicious %}<li class="delicious"><a href="http://www.delicious.com/{{ site.owner.delicious }}" title="delicious" rel="me"><span>delicious</span></a></li>{% endif %}
	{% if site.owner.flickr %}<li class="flickr"><a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" title="flickr" rel="me"><span>flickr</span></a></li>{% endif %}
	{% if site.owner.foursquare %}<li class="foursquare"><a href="https://foursquare.com/{{ site.owner.foursquare }}" title="foursquare" rel="me"><span>foursquare</span></a></li>{% endif %}
	{% if site.owner.googleplus %}<li class="googleplus"><a href="https://profiles.google.com/{{ site.owner.googleplus }}" title="google" rel="me"><span>google</span></a></li>{% endif %}
	{% if site.owner.lastfm %}<li class="lastfm"><a href="http://www.last.fm/user/{{ site.owner.lastfm }}/tracks?view=compact&page=1" title="lastfm" rel="me"><span>lastfm</span></a></li>{% endif %}
	{% if site.owner.youtube %}<li class="youtube"><a href="http://www.youtube.com/user/{{ site.owner.youtube }}" title="youtube" rel="me"><span>youtube</span></a></li>{% endif %}
  {% if site.owner.pinboard %}<li class="pinboard"><a href="https://pinboard.in/u/{{ site.owner.pinboard }}" title="pinboard" rel="me"><span>youtube</span></a></li>{% endif %}
  {% if site.owner.pinterest %}<li class="pinterest"><a href="http://pinterest.com/{{ site.owner.pinterest }}" title="pinterest" rel="me"><span>youtube</span></a></li>{% endif %}
  {% if site.owner.yelp %}<li class="yelp"><a href="http://{{ site.owner.yelp }}.yelp.com" title="yelp" rel="me"><span>yelp</span></a></li>{% endif %}
  {% if site.owner.instagram %}<li class="instagram"><a href="http://instagram.com/{{ site.owner.instagram }}" title="instagram" rel="me"><span>yelp</span></a></li>{% endif %}
</ul>
