<div class="browser-frame"></div>
<nav class="main-nav">
  <div class="nav-container">
    <div class="logo">
      <a href="/"><span class="nav-desktop">Aaron U Salmon</span><span class="nav-mobile">Aaron S.</span></a>
    </div>
    <ul class="nav-menu">
      <li><a href="/" class="{% if page.layout == 'home' %}active{% endif %}"><span class="nav-desktop">Overview</span><span class="nav-mobile">Home</span></a></li>
      <li><a href="/story" class="{% if page.layout == 'story' %}active{% endif %}"><span class="nav-desktop">My Story</span><span class="nav-mobile">Story</span></a></li>
      <li><a href="/work" class="{% if page.layout == 'work' or page.category == 'work' %}active{% endif %}"><span class="nav-desktop">My Work</span><span class="nav-mobile">Work</span></a></li>
    </ul>
  </div>
</nav> 