<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>{{ page.title }} {{site.name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="imagetoolbar" content="false">
  <meta name="MSSmartTagsPreventParsing" content="true">
  <meta name="robots" content="index">
  <meta name="robots" content="follow">
  <meta name="robots" content="all">
  <meta name="revisit-after" content="7 days">
  <meta name="language" content="en-us">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="distribution" content="global">
  <meta name="rating" content="general">
  <meta name="classification" content="business">
  <meta name="copyright" content="Copyright &copy; 2015 Aaron U. Salmon">
  <meta property="og:title" content="Aaron U. Salmon | Design, Inspiration &amp; the Internets of Tomorrow."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.aaronsalmon.com/"/>
  <meta property="og:image" content="http://www.auraworks.com/assets/images/me.jpg"/>
  <meta property="og:site_name" content="Aaron U. Salmon"/>
  <meta property="fb:admins" content="aaronsalmon"/>
  <meta property="og:description" content="Aaron is a jovial lad, life enthusiast and a versatile User Experience Designer/Developer based out of Eau Claire, Wisconsin."/>
  <script src="{{ site.baseurl }}/js/ios-viewport-scaling-bug-fix.js"></script>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>