<h2>
  Recent Engagements
</h2>

<ul>
  <li><a href="http://publicgood.com" title="">Public Good</a> <em>Design Lead</em></li>
  <li><a href="http://techstars.com" title="">TechStars - Chicago</a> <em>Design &amp; Product Mentor</em></li>
  <li><a href="http://knightlab.com" title="">Northwestern University Knight Lab</a> <em>Art Director</em></li>
  <li><a href="http://smartchicagocollaborative.org/" title="">Smart Chicago Collaborative</a> <em>Design &amp; UX Consultant</em></li>
  <li><a href="http://www.theatlantic.com/technology/archive/2012/11/when-the-nerds-go-marching-in/265325/" title="">Obama For America 2012 - Technology Team</a> <em>Lead UX Engineer</em></li>
  <li><a href="http://www.cityofchicago.org/city/en.html" title="">City of Chicago</a> <em>UI Designer &amp; Front-end Engineer</em></li>
  <li><a href="http://www.huffingtonpost.com/2011/03/08/rahm-emanuel-hiring-askin_n_833056.html" title="">Rahm Emanuel's Transition Team</a> <em>UI Designer &amp; Front-end Engineer</em></li>
</ul>

<p><a href="https://www.linkedin.com/in/aaronsalmon">More &#x21e2;</a></p>
