<nav class="sub-nav">
  <div class="nav-container">
    <ul class="sub-nav-menu">
      <li><a href="/work/" {% if page.url == '/work/' %}class="active"{% endif %}>Intro</a></li>
      <li><a href="/work/case-studies/" {% if page.url == '/work/case-studies/' %}class="active"{% endif %}>Case Studies</a></li>
      <li><a href="/work/portfolio/" {% if page.url == '/work/portfolio/' %}class="active"{% endif %}>Portfolio</a></li>
      <li><a href="/work/background/" {% if page.url == '/work/background/' %}class="active"{% endif %}>Background</a></li>
      <li><a href="/work/values/" {% if page.url == '/work/values/' %}class="active"{% endif %}>Values</a></li>
    </ul>
  </div>
</nav> 