<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="imagetoolbar" content="false">
  <meta name="MSSmartTagsPreventParsing" content="true">
  <meta name="robots" content="index">
  <meta name="robots" content="follow">
  <meta name="robots" content="all">
  <meta name="revisit-after" content="7 days">
  <meta name="language" content="en-us">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="distribution" content="global">
  <meta name="rating" content="general">
  <meta name="classification" content="business">
  <meta name="copyright" content="Copyright &copy; 2013 Auraworks Ltd.">
  <meta property="og:title" content="Aaron U. Salmon's Auraworks | Design, Inspiration &amp; the Internets of Tomorrow."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.auraworks.com/"/>
  <meta property="og:image" content="http://www.auraworks.com/assets/images/me.jpg"/>
  <meta property="og:site_name" content="Auraworks Ltd."/>
  <meta property="fb:admins" content="aaronsalmon"/>
  <meta property="og:description" content="Aaron is a jovial lad, life enthusiast and a versatile User Experience Designer/Developer based out of Chicago, Illinois."/>
  <script src="{{ site.baseurl }}/js/ios-viewport-scaling-bug-fix.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
    <body>
      <div class="container">
        <section>
          <h1 class="title">{{ site.owner.name }}</h1>
          {{ content }}
        </section>
      </div> <!-- /container -->
      {% include footer.html %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43029176-1', 'aaronsalmon.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
